@{
    ViewBag.Title = "询价单列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IPagedList<Item>
@section Head{<link href="~/assets/bower_components/icheck/skins/minimal/red.css" rel="stylesheet" />}
<div class="mod-navbar">
    <div class="main-header">
        <div class="title">
            <h3>
                <a href="javascript:;"><i class="icon icon-list"></i></a>
                <a href="javascript:;">询价单列表</a>
            </h3>
        </div>
    </div>
    <div class="sub">
        <div class="sub_toolbar">


            <button class="btn btn-success btn-sm" onclick='javascript:window.location.href = "/subject/step1"'>发布工程</button>
            @*<button type="button" class="btn btn-danger btn-sm"  data-toggle="button" aria-pressed="false" autocomplete="off">邮件通知</button>
            <button type="button" class="btn btn-primary btn-sm" onclick="" data-toggle="button"  data-mode="" aria-pressed="false" autocomplete="off">单据物料</button>
            <button type="button" class="btn btn-success btn-sm" onclick=""  data-toggle="button" aria-pressed="false" autocomplete="off">报价明细</button>*@
            <input class="btn btn-default btn-sm" id="btn_delete" type="button" value="删除">
        </div>
    </div>
</div>
<div class="navigator-results mCustomScrollbar" data-mcs-theme="3d-thick-dark">
    @if ((Convert.ToDateTime("2016-07-25")-DateTime.Now).Days<=7)
    {
        <div class="alert alert-danger" role="alert">对不起，软件使用期限即将到期，请联系管理员注册！</div>
    }
    <div class="frame">
        <div class="frame-header">
            <span class="title-breadcrumb">
                <a href="javascript:;">询价单</a>
            </span>
            <form class="form-inline pull-right">
                <input class="form-control input-sm" name="ItemName" value="@Request["ItemName"]" placeholder="工程名称" />
                <input class="w100 form-control input-sm" name="Contractor" value="@Request["Contractor"]" placeholder="发布人" />
                <input class="w100 form-control input-sm" name="SignPlace" value="@Request["SignPlace"]" placeholder="签约地点" />
                <button class="btn btn-default btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i> 查询</button>
            </form>
        </div>
        <hr class="m0" />
        <div class="widget widget-mytask">
            <div class="body">
                <div class="line-item-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>选择</th>
                                <th>工程名称</th>
                                <th>起始日期</th>
                                <th>截止日期</th>
                                <th>发布日期</th>
                                <th>签约地点</th>
                                <th>发布人员</th>
                                <th>联系方式</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><input type="checkbox" value="@item.Id" /></td>
                                <th scope="row"><div class="w80 text-overflow" title="@item.ItemName"><a href='javascript:window.location.href="/subject/step1/@item.Id";'>@item.ItemName</a></div></th>
                                <td>@item.StartDate.ToString("yyyy-MM-dd HH:mm")</td>
                                <td>@item.EndDate.ToString("yyyy-MM-dd HH:mm")</td>
                                <td>@item.InputTime.ToString("yyyy-MM-dd HH:mm")</td>
                                <td><div class="w60 text-overflow" title="@item.SignPlace">@item.SignPlace</div></td>
                                <td>@item.User.FullName</td>
                                <td>@item.User.PhoneNumber</td>
                                <td><div class="w80 text-overflow" title="@item.Memo">@item.Memo</div></td>
                                <td>
                                    @*<button type="button" class="btn btn-danger btn-xs" data-id="@item.Id" @(item.IsNotice ? "disabled='disabled'" : "")>邮件通知</button>
                                        <button type="button" class="btn btn-primary btn-xs" onclick="javascript: window.location.href = '/subject/step2/@item.Id'" data-id="@item.Id" data-mode="@item.TempMode">单据物料</button>
                                        <button type="button" class="btn btn-success btn-xs" onclick="javascript: window.location.href = '/subject/match/@item.Id'" data-id="@item.Id" @(item.EndDate < DateTime.Now ? "" : "disabled='disabled'")>报价明细</button>*@
                                    <div class="dropdown">
                                        <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            更多 <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li class='@(item.IsNotice == true ? "disabled" : "")'><a data-id="@item.Id" name="notice" href="javascript:;">邮件通知</a></li>
                                            <li><a href="/subject/step2/@item.Id">单据物料</a></li>
                                            <li class='@(item.EndDate < DateTime.Now ? "" : "disabled")'><a name="report" href="/subject/match/@item.Id">报价明细</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <div class="text-center">
                        @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", Id = "bootstrappager" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-jquery-tmpl" id="item_remove">
    <div class="popbox">
        <div class="popbox-header">
            <button class="cancel icon-remove">&times;</button>
            <h3>删除工程</h3>
        </div>
        <div class="popbox-body w_300">
            删除工程记录后，将不能恢复！
        </div>
        <div class="popbox-footer">
            <button class="btn btn-danger mr_15" id="sure">确定删除 </button>
        </div>
    </div>
</script>
@section Script{
    <script src="~/assets/js/popbox.js"></script>
    @*<script src="~/assets/bower_components/icheck/icheck.min.js"></script>*@
    <script language="javascript">
        $(function () {
            $("#btn_delete").on("click",function () {
                var idArr = [];
                $(".table input[type=checkbox]:checked").each(function (i, p) {
                    idArr.push($(p).val());
                });
                if (idArr.length == 0) {
                    $.noty({
                        text: '未选中任何删除行！',
                        layout: 'topCenter',
                        type: 'information'
                    });
                    return false;
                }

                this.$popbox = $.popbox({
                    target: $(this),
                    content: $("#item_remove").html(),
                    init: function () { },
                    sure: function () {
                        $.ajax({
                            type: "post",
                            url: "/subject/RemoveItem",
                            data: { id: idArr.join() },
                            success: function (data) {
                                if (data.code === 200) {
                                    $.noty({
                                        text: data.message,
                                        layout: 'topCenter',
                                        type: 'information',
                                        timeout: 500,
                                        onClosed: function () {
                                            window.location.reload();
                                        }
                                    });
                                }
                            },
                            error: function () {
                                $.noty({
                                    text: '操作失败，请重新尝试！',
                                    layout: 'topCenter',
                                    type: 'information'
                                });
                            }
                        });
                        return false;
                    }
                });
            });

            $(".dropdown-menu>li>a[name='report']").on("click", function () {
                var that = $(this);
                if (that.parent().hasClass("disabled")) {
                    return false;
                }
            });

            $(".dropdown-menu>li>a[name='notice']").on("click", function () {
                var that = $(this);
                if (that.parent().hasClass("disabled")) {
                    return false;
                }
                $.ajax({
                    type: "post",
                    url: "/Subject/EmailNotice",
                    data: { id: that.data("id") },
                    beforeSend: function () {
                        that.parent().addClass("disabled");
                        that.text("正在发送");
                    },
                    success: function (data) {
                        if (data.code === 200) {
                            that.text("邮件通知");
                            $.noty({
                                text: data.message,
                                layout: 'topCenter',
                                type: 'information'
                            });
                        }
                    },
                    error: function () {
                        that.parent().removeClass("disabled");
                        that.text("邮件通知");
                        $.noty({
                            text: '操作失败，请重新尝试！',
                            layout: 'topCenter',
                            type: 'information'
                        });
                    }
                });
            });
        });
    </script>
}